@import '~bootstrap/scss/bootstrap.scss';
$fa-font-path: './webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import './vars.scss';

/* generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    margin: 0 auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.btn{
  background-color: $btn-green-bg;
  width: 170px;
  height: 40px;
  line-height: 0;
  transition: all 0.3s;

      a{
          text-decoration: none;
          color: white;
          line-height: 25px;
          font-size: 18px;
          text-transform: uppercase;
      }
}
.reverse{
  background-color: transparent;
  border: 1px solid $btn-green-bg;
      a{
          color: $btn-green-bg;
      }
}
.btn:hover{
  background-color: $green-font;
  transform: scale(1.1);
}