$dark-blue-bg: #21333E;
$dark-green-bg: #0E272D;
$grey-font: #C0C3D0;
$lightgrey-font: #B5B5C4;
$black-font: #21333E;
$btn-green-bg: #058283;
$ligthgreen-bg: #CCE3DE;
$green-font: #24A9AB;
$input-bg: #CDD1D4;
$main-dark-bg: #111117;
$main-green-bg: #EEF4ED;